body{
    margin: 0; /*remove a margem*/

    background-color: black;rgb(31, 130, 97); /*muda a cor do fundo*/

    font-family: Arial, Helvetica, sans-serif; /* Tipo da letra*/

}

hl{

text-align: center; /*alinhamento do titulo*/

margin-bottom: 30px; /*margem do titulo*/

}

.imagem{

display : grid; /* faz a tela 3x3*/

grid-template-columns:     repeat(auto-fit,minmax(250px,1fr)) ;
/* cria colunas, auto fit = encaixa as colunas, inmax= restringe o numero de colunas*/




margim: center; /*margagem*/



}

.imagem img {
width: 50%;
max-width: 100px; /* define a algura*/
height: auto; /*define a altura*/
justify-self: center;

}



